# List

In [1]:
lst=["Amil",22,786,123.456]

In [2]:
lst

['Amil', 22, 786, 123.456]

In [3]:
lst[3]

123.456

In [4]:
lst[0]

'Amil'

In [5]:
lst.append("Hasan")

In [6]:
lst

['Amil', 22, 786, 123.456, 'Hasan']

In [7]:
lst.index(786)

2

# DICT -  Dictionary

In [1]:
dit = {"Name": "Amil", "age":"22","number":"12121212"}

In [2]:
dit

{'Name': 'Amil', 'age': '22', 'number': '12121212'}

In [3]:
dit.items

In [4]:
dit.items()

dict_items([('Name', 'Amil'), ('age', '22'), ('number', '12121212')])

In [6]:
dit.get('age')

'22'

In [10]:
dit.keys()

dict_keys(['Name', 'age', 'number'])

# Sets

In [11]:
st = {"amil","pc",1,1,1,1,2,2,2,28,8,8,8 }

In [12]:
st

{1, 2, 28, 8, 'amil', 'pc'}

In [14]:
st1={"pc",2}

In [15]:
st1.issuperset(st)

True

In [17]:
st2={3}

In [18]:
st2.issubset(st)

False

In [19]:
st2.isdisjoint(st)

True

In [20]:
st2.intersection(st)

set()

In [21]:
st1.intersection(st)

{2, 'pc'}

# Tuples

In [24]:
tup= ("amil","&","%")

In [25]:
tup

('amil', '&', '%')

In [26]:
tup.count("&")

1

In [27]:
tup.index("%")

2

# String

In [28]:
name="Amil"
name1= "Hasan"

In [29]:
name1

'Hasan'

In [30]:
name

'Amil'

In [31]:
name+name1

'AmilHasan'

In [33]:
name.count(name)

1